@media (max-width: 800px) {

	.post-right-left-sections{
		flex-direction: column-reverse;
	}

	#postsection-left, #postsection-right{
		width: 100%;
	}

	.noticiapost{
		height: 260px;
	}

	#destacados{
		margin: 10%;
	}

	#noticia-con{
		padding: 13% 3%;
	}

	#close-noticia{
		left: 12px;
	}

	.pags-post-con{
		margin-top: 5%;
	}

}