#tipomsganddestacados{
	width: 95%;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

#tipo-dolar-msg{
	width: 55%;
	display: flex;
	justify-content: space-between;
	margin: 3.5% 0;
}

#tipo-dolar-msg img{
	width: 30%;
}

#msg-con{
	width: 70%;
	display: flex;
}

#msg-beginning{
	width: 1px;
	height: 1px;
	background-color: white;
	border: 50px solid white;
	border-left: 0px;
	margin-top: 1.5%;
	clip-path: polygon(100% 19.76%, 9.80% 51.02%, 56.86% 59.89%, 81.84% 67.28%, 100% 77.78%);
}

#msg-box{
	width: 100%;
	height: fit-content;
	height: -moz-fit-content;
	background-color: white;
	padding: 4% 5%;
	border-radius: 1.5rem;
}

#msg-box p{
	font-weight: 600;
	font-size: 1.5em;
	color: var(--main-color);
	margin: 0;
	margin-left: 5%;
}

#rightsectioncon{
	width: 25%;
	margin-right: 5%;
}